@tailwind base;
@tailwind components;
@tailwind utilities;

html[data-theme="light"] {
  --background: #fcf7f6;
  --text: #100908;
  --paragraph:#495057;
  --primary:#d44843;
  --secondary:#f08c89;
  --accent:#f84f49;
}

html[data-theme="dark"] {
  --background: #080303;
  --text: #f6efee;
  --paragraph:lightgray;
  --primary:#bb2f2a;
  --secondary:#75130f;
  --accent:#b60c07;
}

body {
  color: var(--text);
  background: var(--background);
}

body *::-webkit-scrollbar {
  width: .3em;
}
 
body *::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--paragraph);
}
 
body *::-webkit-scrollbar-thumb {
  background-color: var(--text);
  outline: 1px solid var(--text);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
